# ----------------------
# Flask
# ----------------------
flask
requests
paramiko

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn

tweepy
flask_sslify
web3
